POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=userdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_BACKEND_PASSWORD=pass
REDIS_BACKEND_HOST=redis-backend
REDIS_BACKEND_PORT=6379

CRAWLER_HOST=crawler
CRAWLER_PORT=8080

REDIS_CRAWLER_PASSWORD=pass
REDIS_CRAWLER_HOST=redis-crawler
REDIS_CRAWLER_PORT=6379

MEILI_MASTER_KEY=meilikey
MEILI_HOST=meilisearch
MEILI_PORT=7700

GITHUB_REPOSITORY=koftamainee/search-engine