POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=userdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_PASSWORD=pass
REDIS_HOST=redis-backend
REDIS_PORT=6379

MEILI_MASTER_KEY=meilikey
MEILI_HOST=meilisearch
MEILI_PORT=7700

GITHUB_REPOSITORY=koftamainee/search-engine