POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=userdb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

SESSION_STORAGE_PASSWORD=pass
SESSION_STORAGE_HOST=session-storage
SESSION_STORAGE_PORT=6379

CRAWLER_STATE_PASSWORD=pass
CRAWLER_STATE_HOST=crawler-state
CRAWLER_STATE_PORT=6379

FEATURE_STORAGE_PASSWORD=pass
FEATURE_STORAGE_HOST=feature-storage
FEATURE_STORAGE_PORT=6379

BACKEND_HOST=backend
BACKEND_PORT=8080
BACKEND_TARGET_PORT=8083

FRONTEND_HOST=frontend
FRONTEND_PORT=3000
FRONTEND_TARGET_PORT=8084

CRAWLER_HOST=crawler
CRAWLER_PORT=8080
CRAWLER_NUM_WORKERS=15

MEILI_MASTER_KEY=KakLqtUfMOaROtVDc_Jx5HMfGwaAH2S6UcQU7l-o1OY
MEILI_HOST=meilisearch
MEILI_PORT=7700

MESSAGE_BROKER_HOST=message-broker
MESSAGE_BROKER_PORT=4222

GRAPHDB_PASSWORD=strongpassword
GRAPHDB_HOST=graphdb
GRAPHDB_PORT=7687

METRICS_SERVICE_HOST=metrics-service
METRICS_SERVICE_PORT=8080

GRAPHDB_INDEXER_HOST=graphdb-indexer
GRAPHDB_INDEXER_PORT=8080

GITHUB_REPOSITORY=koftamainee/search-engine

RUST_LOG=info